<div class="list row">
  <div class="col-md-6">
    <h4>Account List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let account of accounts; let i = index"
        [class.active]="i == currentIndex"
        (click)="setCurrentAccount(account, i)"
      >
        {{"Account: " + account.accountNumber}}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentAccount">
      <h4>Account</h4>
      <div>
        <label><strong>Client Name:</strong></label> 
        <p>{{currentAccount.clientName}}</p>
      </div>
      <div>
        <label><strong>Account Number:</strong></label>
        <p>{{currentAccount.accountNumber}}</p>
      </div>
      <div>
        <label><strong>Balance:</strong></label>
        <p>{{currentAccount.balance}}</p>
      </div>

      <a class="badge badge-warning" [routerLink]="['/accounts/', currentAccount.id]">
        Edit
      </a>
    </div>

    <div *ngIf="!currentAccount">
      <br />
      <p>Please click on a product</p>
    </div>
  </div>
</div>

