<div>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <a href="#" class="navbar-brand">BlueBank</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="accounts" class="nav-link">Cuenta</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/accounts/', 0, 'create']" class="nav-link">Crear Cuenta</a>
      </li>
      <li class="nav-item">
        <a routerLink="transactions" class="nav-link">Transacciones</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/transactions/', 0, 'create']" class="nav-link">Crear Transacción</a>
      </li>
    </div>
  </nav>

  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
</div>
