<div style="width: 500px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="clientName">Client Name</label>
        <input
          type="text"
          class="form-control"
          id="clientName"
          required
          [(ngModel)]="account.clientName"
          name="clientName"
        />
      </div>

      <div class="form-group">
        <label for="accountNumber">Account Number</label>
        <input
          class="form-control"
          id="accountNumber"
          required
          [(ngModel)]="account.accountNumber"
          name="accountNumber"
        />
      </div>

      <div class="form-group">
        <label for="accountNumber">Balance</label>
        <input
          class="form-control"
          id="balance"
          required
          [(ngModel)]="account.balance"
          name="balance"
        />
      </div>
      <button (click)="createAccount()" class="btn btn-success">Create</button>
    </div>

    <div *ngIf="submitted">
      <h3>You successfully created an account!</h3>
      <button class="btn btn-success" (click)="newAccount()">New..</button>
    </div>
  </div>
</div>