<div style="width: 500px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div>
        <h3>Tipo de transaction</h3>
        <select [(ngModel)]="selectedValue">
          <option *ngFor="let typeT of typesTransaction" [ngValue]="typeT.id">{{typeT.name}}</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="source">Fuente</label>
        <input
          type="text"
          class="form-control"
          id="source"
          required
          [(ngModel)]="transaction.source"
          name="source"
        />
      </div>

      <div class="form-group">
        <label for="source">Destino</label>
        <input
          type="text"
          class="form-control"
          id="target"
          required
          [(ngModel)]="transaction.target"
          name="target"
        />
      </div>

      <div class="form-group">
        <label for="amount">Monto</label>
        <input
          class="form-control"
          id="amount"
          required
          [(ngModel)]="transaction.amount"
          name="transaction"
        />
      </div>
      <button (click)="create()" class="btn btn-success">Create</button>
    </div>

    <div *ngIf="submitted">
      <h3>You successfully created an account!</h3>
      <button class="btn btn-success" (click)="newTransaction()">New..</button>
    </div>
  </div>
</div>
