<div class="list row">
  <div class="col-md-6">
    <h4>Lista de Transacciones</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let transaction of transactions; let i = index"
        [class.active]="i == currentIndex"
        (click)="setCurrentTransaction(transaction, i)"
      >
        {{"Transacción: " + transaction.type + ", Monto : " + transaction.amount}}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentTransaction">
      <h4>Transacción</h4>
      <div>
        <label><strong>Fuente:</strong></label> 
        <p>{{currentTransaction.source}}</p>
      </div>
      <div>
        <label><strong>Destino:</strong></label>
        <p>{{currentTransaction.target}}</p>
      </div>
      <div>
        <label><strong>Monto:</strong></label>
        <p>{{currentTransaction.amount}}</p>
      </div>
      <div>
        <label><strong>Tipo:</strong></label>
        <p>{{currentTransaction.type}}</p>
      </div>

      <a class="badge badge-warning" [routerLink]="['/transactions/', currentTransaction.id]">
        Edit
      </a>
    </div>

    <div *ngIf="!currentTransaction">
      <br />
      <p>Please click on a transaction</p>
    </div>
  </div>
</div>


